<div class="content-wrapper">
    <header class="header">
            <hgroup>
                <h1 class="brand-title"><a href="/">{{ site.name }}</a></h1>
                <p class="brand-tagline">{{ site.description }}</p>
                <p>present tense, far-fetched fiction</p>
            </hgroup>
    </header>

    <footer>
            <ul>
                <li><a class="pure-button" href="/story">Full Story</a></li>
                <li><a class="pure-button" href="/tech">Site Tech</a></li>
                <li><a class="pure-button" href="/about">About</a></li>
                <li><a class="pure-button" href="/rss.xml">RSS</a></li>
            </ul>
        <p>&copy; Dan Duke 2015</p>
    </footer>
</div>