<div class="content-wrapper">
    <header class="header">
            <hgroup>
                <h1 class="brand-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
                <p class="brand-tagline">{{ site.description }}</p>
                <p>present tense, far-fetched fiction</p>
            </hgroup>
    </header>

    <footer>
        <h2>The main story</h2>
            <ul>
                <li><a class="pure-button" href="{{ site.url }}story">Full Story</a></li>
                <li><a class="pure-button" href="{{ site.url }}about">About</a></li>
                <li><a class="pure-button" href="{{ site.url }}follow">Follow</a></li>
                <li><a class="pure-button" href="{{ site.url }}tech">Site Tech</a></li>
            </ul>
        <br />
        <h2>Unrelated pieces</h2>
        <ul>
            <li><a class="pure-button" href="{{ site.url }}backstory">Backstory</a></li>
            <p>"a selection of backstories for people/characters you never knew/cared about"</p>
        </ul>
        <br />
        <p>&copy; Dan Duke 2015</p>
    </footer>
</div>