---
layout: default
---

<article class="content-wrapper">
    <div>
        <section class="content">
            <section class="post">
                <header class = "post-header">
                    {% if page.title %}
                    <h1 class="content-subhead">{{ page.title }}</h1>
                    {% endif %}
                </header>
                <div class = "post-description">
                    {{ content }}
                </div>
            </section>
        </section>
    </div>
</article>
